
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Layout/InfoLayout.cshtml";
}

    <main>
        <section class="register__title">
            <div class="container">
                <div class="breadcrumb__container row align-items-center">
                    <div class="breadcrumb__icon">
                        <i class="fa fa-home" aria-hidden="true"></i>
                    </div>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb non-bg">
                            <li class="breadcrumb-item"><a class="color-green" href="index.html">Home</a></li>
                            <li class="breadcrumb-item" aria-current="page">Login</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </section>

        <section class="categories__menu__wrapper">
            <div class="container">
                <div class="register__wrapper row">
                    <div class="category__search">
                        <div class="search__by__category">
                            <div class="search__title">
                                <h3>ACCOUNT</h3>
                            </div>

                            <div class="list__category">
                                <ul>
                                    <li>
                                        
                                        <a style="color:#212529" href="@Url.Action("Login", "Home", new { id = "Login" })">Login</a>

                                    </li>
                                    <li>
                                    
                                        <a style="color:#212529" href="@Url.Action("DangKy", "Home", new { id = "Register" })">Register</a>
                                    </li>
                                    
                                </ul>
                            </div>
                        </div>
                        <div class="search__by__refine">
                            <div class="search__title">
                                <h3>INFORMATIONS</h3>
                            </div>
                            <div class="list__category">
                                <ul>
                                    <li>
                                        <a href="about-us.html" style="color:#212529">
                                            About Us
                                        </a>
                                    </li>
                                    <li>
                                        <a href="about-us.html" style="color:#212529">
                                            Delivery Information
                                        </a>
                                    </li>
                                    <li>
                                        <a href="about-us.html" style="color:#212529">
                                            Privacy Policy
                                        </a>
                                    </li>
                                    <li>
                                        <a href="about-us.html" style="color:#212529">
                                            Term and Conditions
                                        </a>
                                    </li>
                                    <li>
                                        <a href="about-us.html" style="color:#212529">
                                            Contact Us
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="banner__container">
                            <img src="img/left-banner.jpg" alt="">
                        </div>
                        <div class="specials__container">
                            <div class="search__title">
                                <h3>SPECIALS</h3>
                            </div>
                            <div class="product-list">
                                <ul>
                                    <li>
                                        <div class="product-item">
                                            <div class="image">
                                                <img src="img/dudu.jpg" alt="">
                                            </div>
                                            <div class="content__wrapper">
                                                <div class="content">
                                                    <span class="hover">Exercitat Virginia</span>
                                                    <div class="price">
                                                        <div class="price__sale">
                                                            <span>$100</span>
                                                        </div>
                                                        <div class="price__cost">
                                                            <span>$119</span>
                                                        </div>
                                                    </div>
                                                    <a class="hover">Add To Cart</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="product-item">
                                            <div class="image">
                                                <img src="img/dudu.jpg" alt="">
                                            </div>
                                            <div class="content__wrapper">
                                                <div class="content">
                                                    <span class="hover">Exercitat Virginia</span>
                                                    <div class="price">
                                                        <div class="price__sale">
                                                            <span>$100</span>
                                                        </div>
                                                        <div class="price__cost">
                                                            <span>$119</span>
                                                        </div>
                                                    </div>
                                                    <a class="hover">Add To Cart</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="product-item">
                                            <div class="image">
                                                <img src="img/dudu.jpg" alt="">
                                            </div>
                                            <div class="content__wrapper">
                                                <div class="content">
                                                    <span class="hover">Exercitat Virginia</span>
                                                    <div class="price">
                                                        <div class="price__sale">
                                                            <span>$100</span>
                                                        </div>
                                                        <div class="price__cost">
                                                            <span>$119</span>
                                                        </div>
                                                    </div>
                                                    <a class="hover">Add To Cart</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="login__content__wrapper row justify-content-between">
                        <div class="new__customer">
                            <form action="" class="new__customer__form">
                                <div>
                                    <h5>New Customer</h5>
                                </div>
                                <div>
                                    <p style="color: #5f5f5f;" class="text__level2">Register Account</p>
                                </div>
                                <div>
                                    <p style="color: #5f5f5f;">
                                        By creating an account you will be able to shop faster,
                                        be
                                        up to date on an order's
                                        status, and keep track of the orders you have previously made.
                                    </p>
                                </div>
                                <div class="button__level2">
                                    <a href="@Url.Action("DangKy", "Home", new { id = "Register" })">Continue</a>
                                </div>
                            </form>
                        </div>

                        <div class="returning__customer">
                            @*<form action="" class="returning__customer__form">*@
                            @using (Html.BeginForm("Login","Home")) {
                            <div>
                                <h5>Returning Customer</h5>
                            </div>
                            <div>
                                <p style="color: #5f5f5f;" class="text__level2">I am a returning Customer</p>
                            </div>
                            <div>
                                <p>Email Address</p>
                                <input type="email" name="txtemail" id="" autofocus placeholder="E-Mail Address...">
                            </div>
                            <div>
                                <p>Password</p>
                                <input type="password" name="txtpassword" id="" placeholder="Password...">
                                <p id="error" style="color:red">@ViewBag.error</p>
                            </div>
                            <div class="forgot">
                                <a href="#">Forgotten Password</a>
                            </div>
                            <div class="button__level2">
                                <input type="submit" value="Đăng nhập" id="btnDangnhap"/>
                            </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

