
@{
    ViewBag.Title = "SanPham";
    Layout = "~/Views/Layout/HomeLayout.cshtml";
}

    <main>
        <section class="wrapper-category">
            <div class="breadcrumb__container row align-items-center">
                <div class="breadcrumb__icon">
                    <i class="fa fa-home" aria-hidden="true"></i>
                </div>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb non-bg">
                        <li class="breadcrumb-item"><a class="color-green" href="~/Views/Home/Index.cshtml">Home</a></li>
                        <li class="breadcrumb-item" aria-current="page">Organic Food</li>

                    </ol>
                </nav>
            </div>
            <div class="main__category__container">
                <div class="category__search">
                    <div class="search__by__category">
                        <div class="search__title">
                            <h3>CATEGORIES</h3>
                        </div>
                        <div class="list__category">
                            <ul>
                                <li>
                                    <a>
                                        organic food (15)
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        organic food (15)
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        organic food (15)
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        organic food (15)
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        organic food (15)
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        organic food (15)
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        organic food (15)
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="search__by__refine">
                        <div class="search__title hvr-bounce-to-right">
                            <h3>REFINE SEARCH</h3>
                        </div>
                        <div class=" list__search">
                            <div class="title">
                                <h4>COLOR</h4>
                            </div>
                            <div class="list__item">
                                <form action="">
                                    <input type="checkbox"> Green(9) <br>
                                    <input type="checkbox"> Green(9) <br>
                                    <input type="checkbox"> Green(9) <br>
                                    <input type="checkbox"> Green(9) <br>
                                </form>
                            </div>
                        </div>
                        <div class="list__search">
                            <div class="title">
                                <h4>SIZE</h4>
                            </div>
                            <div class="list__item">
                                <form action="">
                                    <input type="checkbox"> small(9) <br>
                                    <input type="checkbox"> small(9) <br>
                                    <input type="checkbox"> small(9) <br>
                                </form>
                            </div>
                        </div>
                        <div class="list__search">
                            <div class="title">
                                <h4>WEIGHT</h4>
                            </div>
                            <div class="list__item">
                                <form action="">
                                    <input type="checkbox"> 5(9) <br>
                                    <input type="checkbox"> 12(9) <br>
                                    <input type="checkbox"> 32(9) <br>
                                </form>
                            </div>
                        </div>
                        <div class="button__search">
                            <a href="">Refine Search</a>
                        </div>
                    </div>
                    <div class="banner__container">
                        <img src="~/Content/img/left-banner.jpg" alt="">
                    </div>
                    <div class="specials__container">
                        <div class="search__title">
                            <h3>SPECIALS</h3>
                        </div>
                        <div class="product-list">
                            <ul>
                                <li>
                                    <div class="product-item">
                                        <div class="image">
                                            <img src="~/Content/img/dudu.jpg" alt="">
                                        </div>
                                        <div class="content__wrapper">
                                            <div class="content">
                                                <span class="hover">Exercitat Virginia</span>
                                                <div class="price">
                                                    <div class="price__sale">
                                                        <span>$100</span>
                                                    </div>
                                                    <div class="price__cost">
                                                        <span>$119</span>
                                                    </div>
                                                </div>
                                                <a class="hover">Add To Cart</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="product-item">
                                        <div class="image">
                                            <img src="~/Content/img/dudu.jpg" alt="">
                                        </div>
                                        <div class="content__wrapper">
                                            <div class="content">
                                                <span class="hover">Exercitat Virginia</span>
                                                <div class="price">
                                                    <div class="price__sale">
                                                        <span>$100</span>
                                                    </div>
                                                    <div class="price__cost">
                                                        <span>$119</span>
                                                    </div>
                                                </div>
                                                <a class="hover">Add To Cart</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="product-item">
                                        <div class="image">
                                            <img src="~/Content/img/dudu.jpg" alt="">
                                        </div>
                                        <div class="content__wrapper">
                                            <div class="content">
                                                <span class="hover">Exercitat Virginia</span>
                                                <div class="price">
                                                    <div class="price__sale">
                                                        <span>$100</span>
                                                    </div>
                                                    <div class="price__cost">
                                                        <span>$119</span>
                                                    </div>
                                                </div>
                                                <a class="hover">Add To Cart</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="category__item__container">
                    <div class="banner__main__wrapper">
                        <h3>ORGANIC FOOD</h3>
                        <div class="image__banner__main">
                            <img src="~/Content/img/bannermain.jpg" alt="">
                        </div>
                    </div>

                    <div class="refine__search__container">
                        <h4>Refine Search</h4>
                        <ul class="search__list">
                            <li><a href="">healthfull food (15)</a></li>
                            <li><a href="">Superfoods (15)</a></li>
                            <li><a href="">lite food (15)</a></li>
                        </ul>
                    </div>


                    <div class="shortItem__container">
                        <div class="gridview__icon">
                            <i class="fas fa-th-large" aria-hidden="true"></i>
                            <i class="fa fa-th-list" aria-hidden="true"></i>
                            <span>Product Compare(0)</span>
                        </div>
                        <div class="short__by">
                            <div class="short__by__default">
                                <span>Sort by</span>
                                <select class="custom-select" id="inputGroupSelect03">
                                    <option selected="">Choose...</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                            <div class="short__show">
                                <span>Show</span>
                                <select class="custom-select" id="inputGroupSelect03">
                                    <option selected="">Choose...</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="listItem__container">

                        <div class="product-list">
                            <div class="product-list__container">

                                <div class="product-item">
                                    <div class="product-item__image">
                                        <img src="~/Content/img/06-275x275.jpg" alt="Guava">
                                    </div>

                                    <div class="product-item__content">
                                        <p>Guava</p>
                                        <p><strong>$120</strong> <span class="price__line__through">$140</span></p>
                                        <ul class="star-rank">
                                            <li><i class="fas fa-star" aria-hidden="true"></i></li>
                                            <li><i class="fas fa-star" aria-hidden="true"></i></li>
                                            <li><i class="fas fa-star" aria-hidden="true"></i></li>
                                            <li><i class="fas fa-star" aria-hidden="true"></i></li>
                                            <li><i class="fas fa-star" aria-hidden="true"></i></li>
                                        </ul>
                                        <a class="add-to-cart__btn" href="#">add to cart</a>
                                    </div>
                                </div>


                                
                            </div>
                        </div>

                    </div>
                    <hr>
                    <div class="show__page__container">
                        <div class="show__page">
                            <p>Showing 1 to 9 of 14 (2 Pages)</p>
                        </div>
                        <div class="show__pagination">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-end">
                                    <li><a href="">Previous</a></li>
                                    <li><a href="" class="color-green">1</a></li>
                                    <li><a href="">2</a></li>
                                    <li><a href="">3</a></li>
                                    <li><a href="">Next</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

